In [1]:
l=[23,67,5]

In [2]:
type(l)

list

In [3]:
def test():
    print('this is my first function')

In [4]:
test()

this is my first function

In [9]:
test() + ' in python '

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [5]:
def test1():
    return 'this is my very first function'

In [6]:
test1()

'this is my very first function'

In [8]:
test1() + ' in python'

'this is my very first function in python'

In [10]:
def test2():
    return 'shanza',23,678,76.65,[12,45,72.3]

In [11]:
test2()

('shanza', 23, 678, 76.65, [12, 45, 72.3])

In [13]:
a,b,c,d,e= test2()

In [14]:
b

23

In [15]:
e

[12, 45, 72.3]

In [16]:
a

'shanza'

In [17]:
def test3():
    a=56+67+98
    return a

In [18]:
test3()

221

In [23]:
def test4(a,b,c):
    d=a*b*c
    return d

In [25]:
test4(34,67,2)

4556

In [29]:
def test5(fname,lname):
    name= fname  + lname
    return name

In [30]:
test5('shanza',' sayeed')

'shanza sayeed'

In [34]:
test5(23,67)

90

In [32]:
def test6(a,b,c):
    d=a+b+c
    return d

In [33]:
test6(13,56,34)

103

write a function to create list that has all integers from the given list.

In [52]:
l2=['amity',67.8,23,'lucknow',[1,2,3,4,5]]

In [55]:
def intlist():
    l3=[]
    for i in l2:
        if type(i)==list:
            for j in i: 
                l3.append(j)
        else:
            if type(i) == int or type(i)== float:
                l3.append(i)        
    return l3

In [56]:
intlist()

[67.8, 23, 1, 2, 3, 4, 5]