In [22]:
range(11)

range(0, 11)

In [25]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
list1=[]
for i in range(11):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
def test_fib(n):   #fibonacci
    a,b=0,1
    for i in range(n):
        yield a     #yield is used to throw data 
        a,b = b  , a+b

In [6]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [7]:
s='shan'

In [20]:
for i in s:    # for loop takes data and makes it iterator using iter function ...then generates each element using next (how for loop works)  
    print(i)

s
h
a
n

In [16]:
next(s)   #s is not iterator (cannot generate data one by one using next )

TypeError: 'str' object is not an iterator

In [23]:
s1=iter(s)    #now s is an iterator  ....string can be made iterator using iter function because string is iterable

In [12]:
next(s1)

's'

In [13]:
next(s1)

'h'

In [14]:
next(s1)

'a'

In [15]:
next(s1)

'n'

In [19]:
next(s1)

StopIteration:

In [17]:
type(s)

str

In [18]:
type(s1)

str_iterator

In [21]:
next(45)

TypeError: 'int' object is not an iterator

In [22]:
iter(45)   #int cannot be made iterator because it is not iterable

TypeError: 'int' object is not iterable

only iterable data can be converted to an iterator using iter function

In [30]:
def count_test(n):
    count=1
    while count <=n:
        yield count
        count=count+1

In [31]:
count_test(5)

In [32]:
c=count_test(5)

In [33]:
for i in c:
    print(i)

1
2
3
4
5

In [35]:
type(c)

generator