In [2]:
s1={}
type(s1)

dict

In [17]:
s2={2,8,7,7,3,4,5,2,101,'hello',True,78.789}
type(s2)

set

In [18]:
s2

{101, 2, 3, 4, 5, 7, 78.789, 8, True, 'hello'}

In [5]:
s3={2,2,2}
s3

{2}

In [19]:
s2

{101, 2, 3, 4, 5, 7, 78.789, 8, True, 'hello'}

In [22]:
s4={23,45.678,'hi',False,(12,'hello')}
s4

{(12, 'hello'), 23, 45.678, False, 'hi'}

In [25]:
set1=set()
type(set1)

set

In [26]:
set2={}
type(set2)

dict

In [39]:
list1=[12,23,'hi',12,12,12,12,12,12,13,13,2,2]
list1=set(list1)
list1

{12, 13, 2, 23, 'hi'}

In [40]:
s6={12,'shanza',677.12,False,98}
s6

{12, 677.12, 98, False, 'shanza'}

In [41]:
s6.add(4)
s6

{12, 4, 677.12, 98, False, 'shanza'}

In [42]:
len(s6)

6

In [45]:
s6.update((23,345))
s6

{12, 23, 345, 4, 677.12, 98, False, 'e', 'h', 'shanza'}

In [46]:
s6.remove('shanza')
s6

{12, 23, 345, 4, 677.12, 98, False, 'e', 'h'}

In [47]:
s6.remove('shanza')

KeyError: 'shanza'

In [51]:
s6.discard('shanza')
s6

{12, 23, 345, 4, 677.12, 98, False, 'e', 'h'}

In [52]:
s6.update([12,34])
s6

{12, 23, 34, 345, 4, 677.12, 98, False, 'e', 'h'}

In [58]:
s6.add('shanza')
s6

{(13, 14, 15), 12, 23, 34, 345, 4, 677.12, 98, False, 'e', 'h', 'shanza'}

In [59]:
s6.clear()

In [60]:
s6

set()

In [61]:
s1

{2, 3, 4, 5}

In [62]:
s1.pop()

2

In [63]:
del s1

In [64]:
s1

NameError: name 's1' is not defined

In [7]:
set1={1,2,3,4,5}
set2={4,6,5,10,11}
set3={5,3,1,31}

In [3]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 10, 11}

In [4]:
set1 | set2

{1, 2, 3, 4, 5, 6, 10, 11}

In [8]:
set1|set2|set3

{1, 2, 3, 4, 5, 6, 10, 11, 31}

In [9]:
set1.union(set2,set3)

{1, 2, 3, 4, 5, 6, 10, 11, 31}

In [5]:
set1.intersection(set2)

{4, 5}

In [10]:
set1 & set2

{4, 5}

In [11]:
set1 & set2 & set3

{5}

In [12]:
set1.intersection(set2 ,set3)

{5}

In [14]:
set1.union((5,4,3,97))

{1, 2, 3, 4, 5, 97}

In [15]:
set1.intersection([23,5,2])

{2, 5}

In [16]:
set2.intersection(['rohan',27.5])

set()

In [18]:
set1.intersection_update(set2)
set1

{4, 5}

In [19]:
set2

{4, 5, 6, 10, 11}

In [31]:
set4={'ram','shyam','hello',23}
set5={23,'ram',345,'hello',567,12}
set6={23,24,'hello',567}
set7={'hello',23,888}

In [22]:
set4-set7

{'ram', 'shyam'}

In [23]:
set4.difference(set7)

{'ram', 'shyam'}

In [24]:
set4

{23, 'hello', 'ram', 'shyam'}

In [25]:
set7

{23, 'hello'}

In [26]:
set4.difference_update(set7)

In [27]:
set4

{'ram', 'shyam'}

In [28]:
set7

{23, 'hello'}

In [32]:
set5.symmetric_difference(set7)

{12, 345, 567, 888, 'ram'}

In [33]:
set5 ^ set7

{12, 345, 567, 888, 'ram'}

In [34]:
set5.symmetric_difference_update(set7)

In [35]:
set5

{12, 345, 567, 888, 'ram'}

In [36]:
set7

{23, 888, 'hello'}

In [40]:
set8={1,2,3}
set9={4,5,6}
set10={2,3}

In [38]:
set8.isdisjoint(set9)

True

In [41]:
set10.issubset(set8)

True

In [42]:
set8.issuperset(set10)

True