In [6]:
t1=(34,567,'shanza',34,True,[46,32])
type(t1)

tuple

In [7]:
t1

(34, 567, 'shanza', 34, True, [46, 32])

In [5]:
t2=(10)
type(t2)

int

In [8]:
t2

10

In [9]:
t3=(10,)
t3

(10,)

In [10]:
type(t3)

tuple

In [11]:
len(t1)

6

In [12]:
t1

(34, 567, 'shanza', 34, True, [46, 32])

In [13]:
t1[2]

'shanza'

In [14]:
t1[-2]

True

In [15]:
t1[-1]

[46, 32]

In [16]:
t1[::2]

(34, 'shanza', True)

In [17]:
t1[::-1]

([46, 32], True, 34, 'shanza', 567, 34)

In [28]:
t1[0]=34

TypeError: 'tuple' object does not support item assignment

In [33]:
a=(23,'shanza',456)
b=(456,'hello')
c=(89,23,True)
a,b,c

((23, 'shanza', 456), (456, 'hello'), (89, 23, True))

In [34]:
a+b+c

(23, 'shanza', 456, 456, 'hello', 89, 23, True)

In [35]:
tup=a+b+c

In [37]:
tup

(23, 'shanza', 456, 456, 'hello', 89, 23, True)

In [36]:
tup.count(23)

2

In [39]:
tup.index('hello')

4

In [42]:
m=(2,3)*3

In [43]:
m

(2, 3, 2, 3, 2, 3)

In [44]:
m1,m2,m3,m4,m5,m6=m

In [45]:
m3

2

In [46]:
n=(23,56,'rat',123,False)
n1,n2,*n3=n

In [47]:
n1

23

In [48]:
n2

56

In [49]:
n3

['rat', 123, False]

In [50]:
n1,n2,n3

(23, 56, ['rat', 123, False])

In [52]:
n

(23, 56, 'rat', 123, False)

In [51]:
for i in n:
    print(i)

23
56
rat
123
False