HANDLING IMBALANCED DATASET

Two ways-
1-up sampling
2-down sampling

In [5]:
import numpy as np
import pandas as pd

creating imbalanced dataset

In [6]:
#set the random seed for reproducibility
np.random.seed(123) #this means that every time you run your code, you get the same random numbers.
n_samples=1000  #no. of datapoints
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [7]:
n_class_0,n_class_1

(900, 100)

In [8]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    #loc=mean,scale=standard deviation
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),#normal distribution
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0   #output feature with value 0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1   ##output feature with value 1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [11]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [12]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

Upsampling

In [13]:
df_minority=df[df['target']==1]

In [14]:
df_majority=df[df['target']==0]

In [15]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
from sklearn.utils import resample

In [18]:
df.minority_upsample=resample(df_minority,
replace=True , #replaces the sample
n_samples=len(df_majority), #to match majority class
random_state=42
)

C:\Users\shanza\AppData\Local\Temp\ipykernel_3104\2456950603.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.minority_upsample=resample(df_minority,

In [19]:
df.minority_upsample

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]

In [20]:
df.minority_upsample.value_counts()

feature_1  feature_2  target
1.005190   1.110089   1         19
1.915470   1.652041   1         18
3.701608   2.160889   1         18
2.902006   0.390305   1         16
3.013493   2.047240   1         16
                                ..
2.549697   3.095922   1          4
2.013560   2.847260   1          4
2.995595   2.475934   1          4
0.988356   1.835125   1          4
1.245992   2.946908   1          3
Name: count, Length: 100, dtype: int64

In [21]:
df.minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [23]:
df_upsampled=pd.concat([df_majority,df.minority_upsample])

In [24]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [25]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [26]:
df_upsampled.shape

(1800, 3)

downsampling

In [27]:
df.majority_downsample=resample(df_majority,
replace=False , #replaces the sample
n_samples=len(df_minority), #to match minority class
random_state=42
)

C:\Users\shanza\AppData\Local\Temp\ipykernel_3104\383135939.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.majority_downsample=resample(df_majority,

In [28]:
df.majority_downsample

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[100 rows x 3 columns]

In [32]:
df_downsampled=pd.concat([df_minority,df.majority_downsample])

In [33]:
df_downsampled.value_counts()

feature_1  feature_2  target
-2.251535  -0.382087  0         1
 1.884000   1.530450  1         1
 1.648818  -0.226210  0         1
 1.699768   2.139033  1         1
 1.712216   1.346491  1         1
                               ..
 0.338589   0.959706  0         1
 0.342491   1.927940  1         1
 0.403086  -0.403760  0         1
 0.412819   0.191438  0         1
 4.125817   1.784590  1         1
Name: count, Length: 200, dtype: int64

In [34]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64